/* Add CSS Styling */

.odd-numbers {
    background-color: #ff8888;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#element2 {
    color: #0000ff;
    font-size: 36px;
}

#element3 {
    font-size: 24px;
}

#element4 {
    background-color: #88ff88;
    font-size: 36px;
    font-weight: bold;
}